<h2>URLs</h2>

<h3>Shorten a URL</h3>

{{input value=value placeholder="Paste a URL here"}}

<h3>Shortened URLs</h3>

<ul>
  <li>
    <div>
      <a href="/g/abc123">ur.ls/g/abc123</a>
    </div>
    <div>
      <a href="http://justincampbell.me">http://justincampbell.me</a>
    </div>
  </li>
</ul>
